<!DOCTYPE html>
<html>
<head>
    <title>Item Form</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    body {
        margin-top: -3.1%; /* Remove default margin */
    }
</style>
<body>
    <div  style="background: linear-gradient(maroon, black);height:100vh">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card" style="margin-top: 5%;">
                    <div class="card-body" >
                        <h4 class="card-title">Item Form</h4>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token%}
                            <div class="form-group">
                                <label for="itemName" style="margin-right: 7%;">Task Name:</label>
                                {{ form.taskName }}
                            </div>
                            <div class="form-group">
                                <label for="itemDesc" style="margin-right: 17%;">Task description:</label>
                                {{ form.taskDescription }}
                            </div>
                            <div class="form-group">
                                <label for="itemAssignee"style="margin-right: 7%;">Task Assignee</label>
                                {{ form.taskAssignee }}
                            </div>
                            <div class="form-group">
                                <label for="itemPoints" style="margin-right: 5%;">Task Points </label>
                                {{ form.taskPoints }}
                            </div>
                            <div class="form-group">
                                <label for="itemState" style="margin-right: 5%;">Task state</label>
                                {{ form.taskState }}
                            </div>
                            <div class="form-group">
                                <label for="itemSprintName" style="margin-right: 5%;">Sprint Name</label>
                                {{ form.sprintName }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Add Bootstrap JS and jQuery links here -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>