<!DOCTYPE html>
<html>
<head>
    <title>Login / Signup Form</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body  style="background: linear-gradient(blue, black);height:100vh">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Login / Signup</h4>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <button class="btn btn-primary mb-3" onclick="showLoginForm()">Login as User</button>
                            <button class="btn btn-primary mb-3" onclick="showAdminLoginForm()">Login as Admin</button>
                        </div>
                        <div id="userLoginForm" style="display: none;">
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="userName">Name</label>
                                    <input type="name" class="form-control" name="userName" placeholder="enter name">
                                </div>
                                <div class="form-group">
                                    <label for="userPassword">Password</label>
                                    <input type="password" class="form-control" name="userPassword" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Login</button>
                                <button type="button" class="btn btn-link" onclick="showUserSignupForm()">Sign up</button>
                            </form>
                        </div>
                        <div id="userSignupForm" style="display: none;">
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="userName">Name</label>
                                    <input type="name" class="form-control" name="userName" placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                    <label for="userEmail">Email address</label>
                                    <input type="email" class="form-control" name="userEmail" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="userPassword">Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Sign up</button>
                                <button type="button" class="btn btn-link" onclick="showLoginForm()">Back to login</button>
                            </form>
                        </div>
                        <div id="adminLoginForm" style="display: none;">
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="adminName">Admin name</label>
                                    <input type="name" class="form-control" name="adminName" placeholder="Enter admin name">
                                </div>
                                <div class="form-group">
                                    <label for="adminPassword">Admin Password</label>
                                    <input type="password" class="form-control" name="adminPassword" placeholder="Admin Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Login as Admin</button>
                                <button type="button" class="btn btn-link" onclick="showAdminSignupForm()">Sign up as Admin</button>
                            </form>
                        </div>
                        <div id="adminSignupForm" style="display: none;">
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="newAdminName">Admin name</label>
                                    <input type="name" class="form-control" name="newAdminName" placeholder="Enter admin name">
                                </div>
                                <div class="form-group">
                                    <label for="newAdminEmail">Admin Email address</label>
                                    <input type="email" class="form-control" name="newAdminEmail" placeholder="Enter admin email">
                                </div>
                                <div class="form-group">
                                    <label for="newAdminPassword">Admin Password</label>
                                    <input type="password" class="form-control" name="newAdminPassword" placeholder="Admin Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Sign up as Admin</button>
                                <button type="button" class="btn btn-link" onclick="showAdminLoginForm()">Back to admin login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS and your custom JavaScript code here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function showLoginForm() {
            $("#userLoginForm").show();
            $("#userSignupForm").hide();
            $("#adminLoginForm").hide();
            $("#adminSignupForm").hide();
        }

        function showUserSignupForm() {
            $("#userLoginForm").hide();
            $("#userSignupForm").show();
            $("#adminLoginForm").hide();
            $("#adminSignupForm").hide();
        }

        function showAdminLoginForm() {
            $("#userLoginForm").hide();
            $("#userSignupForm").hide();
            $("#adminLoginForm").show();
            $("#adminSignupForm").hide();
        }

        function showAdminSignupForm() {
            $("#userLoginForm").hide();
            $("#userSignupForm").hide();
            $("#adminLoginForm").hide();
            $("#adminSignupForm").show();
        }
    </script>
</body>
</html>